
@{
    ViewBag.Title = "StudentDetail";
}

<h2>This is page for student data</h2>
@*My name is: @ViewBag.Name <br/>
Present Time:@ViewBag.PresentTime*@
My name is :@ViewData["Name"]
<br/>
Present Time is :@ViewData["PresentTime"]
<br/>
My College is :@ViewData["College"]
